* {box-sizing: border-box
}

body {
background: hsl(257, 40%, 49%);
font-family: 'Open Sans' 'poppins';
background-image: url("./images/bg-desktop.svg");
}
.header img {
    margin-top: 40px;
    height: 40px;
}
.texto {
    display: block;
    color: white;
    margin-left: 45px;
    margin-inline-end: 290px;
    font-size: 40;
}
.texto > h1 {
    font-Family: "poppins";
    font-size: 29px;
}
.texto > P {
    font-family: "open sans";
    font-size: 13px;
}
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main img {
    margin-top: 40px;
    
}

.boton {
    height: 53px;
    width: 156px;
    border-radius: 50px;
    box-shadow: 3px 4px 11px 2px rgb(99, 12, 160);
    border: 0;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* Iconos de redes sociales */
.icon-instagram:before {
    content: "\ea92";
}
.icon-whatsapp:before {
    content: "\ea93";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-youtube:before {
    content: "\ea9d";
}

#icon {
    font-size: 30px;
    margin-left: 30px;
    color: hsl(0, 0%, 100%);
}

@media (min-whidth: 1023px){
    body {
        background-image: url('./images/bg-desktop.svg');
        background-size: contain;
        min-height: 100vh;
        overflow: hidden;
        
    }
    .header{
        width: 30%;
        margin: 1% 5%;
    }

    .main{
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .main img {
        width: 130%;
    }

    .main .texto{
        padding-left: 40px;
    }

    .main .titulo .parrafo{
        text-align: left;
        margin: 0;
    }

    .main .titulo{
        font-size: 35px;
        width: 80%;
    }

    .main .boton{
        height: 50px;
        width: 30%;
        margin: 30px 0;
    }

    .footer {
        margin-left: 70%;
    }

    .footer .redessociales{
        width: 50%;
        justify-content: center;
        margin: 0;
    }

    .footer__list--item{
        margin: 0 10px
    }

}